
{{- if .Documentation}}
// {{.Documentation}}
{{- end}}
type {{title .Name}} struct {
{{- range .Fields }}
{{- if .Documentation}}
// {{.Documentation}}
{{- end}}
{{- if .Fixed}}// Fixed: {{.Fixed}}{{end}}
{{- if .Default}}// Default: {{.Default}}{{end}}
{{title .Name}} {{goType .Type .MaxOccurs}} `xml:"{{.Name}}{{omit .MinOccurs}}"{{restrictionTag .Restriction}}`
{{- end }}
{{- range .Attributes }}
    {{- if .Documentation}}    // {{.Documentation}}{{end}}
    {{title .Name}} {{goType .Type .MaxOccurs}} `xml:"{{.Name}},attr"`
{{- end }}
}